.header-img-posi {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.object-fit-cover {
  object-fit: cover;
}

.logo-set {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.carousel-img {
  height: 80vh;
  width: 100%;
}

.nav-setting {
  background: rgba(0, 0, 0, 0.9);
}
