.page-number {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin: 1rem;
}

.focusPage {
  color: red;
  border-bottom: 1px solid gray;
}

.pre-a {
  color: black;
  font-size: 1.5rem;
}

.next-a {
  color: black;
  font-size: 1.5rem;
}
