@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "./helpers/header";
//載入所有的bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./helpers/home";
@import "./helpers/productlist";
@import "./helpers/ProductPagination";
@import "./helpers/userProduct";
@import "./helpers/cart";
@import "./helpers/progress";
@import "./helpers/checkout";
@import "./helpers/favorite";

@font-face {
  font-family: "Noto Sans TC";
  src: url("/public/NotoSansTC-Regular.ttf");
}

@media (max-width: 768px) {
  .none {
    display: none;
    z-index: -99;
  }
}
